.container{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    
    
    
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateY(-30px);
}
.coloumn{
    width: 10vw;
    height: 50px;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    text-align: center;
}
.coloumn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.header{
    color: white;
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    border-bottom: 1px solid white;
    width: fit-content;
    margin-bottom: 10vh;
    
}
@media screen and (max-width : 1300px){
    .coloumn{
        font-size: 13px;
        align-items: center;
        text-align: center;
    }
}
