.container{
  display: flex;

  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  

}
.left{
  top: 0%;
  width: 18vw;
  position: fixed;
  border-right: 1px solid #333;
  z-index: 10;
  min-height: 100vh;
}

.right{
  padding-left: 18vw;
  width: 80%;
  height: 100%;
min-height: 100vh;
      display: flex;
  flex-direction: row;  
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.boxone{
  background-color: white;
  height: 100px;
  width: 300px;
  animation: upperbox 8s infinite; 
  margin-top: -10px;
  
}
.boxtwo{
  background-color: white;
  height: 100px;
  width: 300px;
  animation: lowerbox 8s  infinite; 
  
}
@keyframes upperbox{
  0%{
    transform: translate(0,0);
    height: 100px;
    width: 300px;
  }
  5%{
    transform: translateX(-150px);
    height: 100px;
    width: 300px;
  }
  10%{
    transform: translate(-150px, 100px);
    height: 100px;width: 300px;
  }
  15%{
    transform: translate(150px,100px);
    height: 100px;
    width: 300px;
  }
  20%{
    transform: translate(150px,0px);
    height: 100px;
    width: 300px;
  }
  25%{
    transform: translate(0,0);
    height: 100px;
    width: 300px;
  }
  26.5%{
    height: 2px;
    width: 300px;
  }
  28%{
    height: 1px;
    width: 0px;
  }
  30%{
    width: 1px;
    height:350px
  }
  35%{
    width: 650px;
    height: 350px;
  }
  72%{
    width: 650px;
    height: 350px;
  }
  80%{
    width: 1px;
    height: 350px;
  }
  94%{
    height:100px;
    width: 1px;
  }
  100%{
    width:300px;
    height: 100px;
  }
}
@keyframes lowerbox{
  0%{
    transform: translate(0,0);
    height: 100px;
    width: 300px;
  }
  5%{
    transform: translateX(150px);
    height: 100px;
    width: 300px;
  }
  10%{
    transform: translate(150px, -100px);
    height: 100px;width: 300px;
  }
  15%{
    transform: translate(-150px,-100px);
    height: 100px;
    width: 300px;
  }
  20%{
    transform: translate(-150px,0px);
    height: 100px;
    width: 300px;
  }
  25%{
    transform: translate(0,0);
    height: 100px;
    width: 300px;
  }
  26.5%{
    height: 2px;
    width: 300px;
  }
  28%{
    height: 1px;
    width: 0px;
  }
  30%{
    width: 1px;
    height:350px
  }
  35%{
    width: 650px;
    height: 350px;
  }
  72%{
    width: 650px;
    height: 350px;
  }
  80%{
    width: 1px;
    height: 350px;
  }
  94%{
    height:100px;
    width: 1px;
  }
  100%{
    width:300px;
    height: 100px;
  }
}
.studytable{
  font-size: 150px;
  color: black;
  font-family: 'Bebas Neue', cursive;
  position: fixed;
  transform: translate(-470px,-150px);
  animation: wordone 8s infinite;
  z-index: 1000;
}
.studytable2{
  font-size: 150px;
  color: black;
  font-family: 'Bebas Neue', cursive;
  position: fixed;
  transform: translate(-470px,-10px);
  animation: wordtwo 8s infinite;
  z-index: 1000;
}
.studytable3{
  font-size: 150px;
  color: black;
  font-family: 'Bebas Neue', cursive;
  position: fixed;
  transform: translate(-470px,130px);
  animation: wordthree 8s infinite;
  z-index: 1000;
}
@keyframes wordone{
  0%{
    transform: translate(-470px,-150px);
  }
  30%{
    transform: translate(-470px,-150px);
  }
  35%{
    transform: translate(-200px,-150px);
    
  }
  65%{
    transform: translate(-200px,-150px);
    
  }
  75%{
    transform: translate(-470px,-150px);
  }
  100%{
    transform: translate(-470px,-150px);
  }
}
@keyframes wordtwo{
  0%{
    transform: translate(-470px,-10px);
  }
  30%{
    transform: translate(-470px,-10px);
    
  }
  37%{
    transform: translate(-140px,-10px);
    
  }
  65%{
    transform: translate(-140px,-10px);
    
  }
  75%{
    transform: translate(-470px,-10px);
  }
  100%{
    transform: translate(-470px,-10px);
  }
}
@keyframes wordthree{
  0%{
    transform: translate(-470px,130px);
  }
  30%{
    transform: translate(-470px,130px);
  }
  39%{
    transform: translate(-150px,130px);
    
  }
  65%{
    transform: translate(-150px,130px);
    
  }
  75%{
    transform: translate(-470px,130px);
  }
  100%{
    transform: translate(-470px,130px);
  }
}